h1 {
  text-align: center;
  margin-top: 150px;
}

.intro {
  text-align: center;
  margin-top: 100px;
}

#startButton {
  margin: auto;
  display: block;
}

#scoreLink {
  margin: 20px;
}

#timer {
  float: right;
  margin-right: 200px;
}

.answer {
  display: block;
  margin: auto;
}
